.navbar-brand {
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 50px;

}

.navbar-nav {
    color: pink;
}

.container-fluid {
    background: #dddddd;
    
}

.container {
    background: #ffffff;
    width: 960px;
}